# ml
sentence-transformers==2.7.0
transformers==4.48.1
optuna==4.2.0
wandb==0.19.4
torch==2.3.1
# manually install nvidia apex from GitHub to use the gpu accelerated FusedAdam optimizer
# https://github.com/NVIDIA/apex?tab=readme-ov-file#from-source
# FusedAdam can be replaced with PyTorch's native AdamW optimizer
ninja==1.11.1.3  # speed up apex compilation

# analysis
rdkit==2024.9.4
pandas==2.2.3
numpy==1.26.4
scikit-learn==1.6.1
fastparquet==2024.11.0
opencv-python==4.11.0.86
